.container {
    max-width: 144rem;
    height: 100vh;
    margin-inline: auto;
    padding: 8rem;
    background-color: var(--Cream);
    display: flex;
    align-items: center;
    justify-content: center;
}